[Unit]
Description=Enigma Backend .NET Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash /home/ubuntu/auto-start-backend.sh
ExecStop=/bin/bash /home/ubuntu/stop-backend.sh
KillSignal=SIGINT
TimeoutStopSec=10
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target