
.homeContainer {
  display: flex;
  justify-content: left;
  height: 100%;
  gap: 7rem;
  witdh: 80%;
  max-width: 80%;
}

.homeSeption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.homeSeption h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
}
