.customInput {
  width: 100%;
  max-width: 380px;
  height: 60px;
  padding-left: 40px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.customInput::placeholder {
  color: var(--Light-Grey-color);
}

.customInput:focus {
  outline: none;
  border: 1px solid;
  border-color: var(--Grey-color);
}

@media (max-width: 768px) {
  .customInput {
    font-size: 1.2rem;
    padding-left: 20px;
  }
}

@media (max-width: 480px) {
  .customInput {
    height: 50px;
    font-size: 1rem;
    padding-left: 15px;
  }
}
