.rouletteWheel {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 380px 380px;
  pointer-events: none;
}

.layer2 {
  background-image: url('img/roulette/roulette_2.png');
  will-change: transform;
}

.layer3 {
  background-image: url('img/roulette/roulette_3.png');
}

.layer4 {
  background-image: url('img/roulette/roulette_4.png');
  will-change: transform;
}

.layer5 {
  background-image: url('img/roulette/roulette_5.png');
}

.ballContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  will-change: transform;
  transform-origin: center center;
}

.ball {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff radial-gradient(circle at 5px 5px, #fff, #444);
  box-shadow: 1px 1px 4px #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -104px); /* bola en el borde superior */
}


.spinButton {
  font-size: 18px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 40px;
  display: inline-block;
}
