.customScroll {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}

.customScroll::-webkit-scrollbar {
  width: 6px;
}

.customScroll::-webkit-scrollbar-track {
  background: transparent;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 10px;
}
