.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Background-Page);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Animación de puertas */
.door {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #222, #111);
  z-index: 2;
  transition: transform 1.5s ease-in-out;
}

.left {
  left: 0;
  border-right: 1px solid #333;
}

.right {
  right: 0;
  background: linear-gradient(to left, #222, #111);
  border-left: 1px solid #333;
}

/* Solo se abren si el email fue confirmado */
.open .left {
  transform: translateX(-100%);
}

.open .right {
  transform: translateX(100%);
}

/* Contenido después de la apertura */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Animación de aparición */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Estilos del título con efecto de oro y reflejo */
.title {
  font-size: 5rem;
  color: #d4af37; /* Color dorado */
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(90deg, #f7e900, #cda300, #f7e900); /* Dorado con gradiente */
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 3px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.3;
  transform: scaleY(-1);
  filter: blur(4px);
}

/* Estilos del duende */
.elf {
  width: 200px;
  height: auto;
}

/* Mensaje de error */
.errorMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  z-index: 1;
}

/* Responsividad */
@media (max-width: 480px) {
  .title {
    font-size: 3.5rem;
  }

  .elf {
    width: 150px;
  }

  .errorMessage {
    width: 90%;
    padding: 1.5rem;
  }
}
