.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background-color: var(--Background-Page);
}

.loginRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100vh;
  background-color: var(--Principal);
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
  padding: 9rem;
  padding-left: 30rem;
}

.loginRight a {
  font-size: 1.2rem;
  text-decoration: none;
}

.loginRight p {
  font-size: 4rem;
  color: var(--Black-color);
  font-weight: bold;
  margin-top: 4rem;
}

.loginLogo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.title {
  font-size: 6rem;
  color: var(--Principal);
  text-align: center;
  margin-bottom: 3rem;
}

.login-right h1 {
  font-size: 2.8rem;
  font-weight: bold;
}

.loginLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-left: 10rem;
  margin-bottom: 8rem;
}

.loginForm {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  padding: 40px;
  width: 100%;
}

.loginLeft label {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.inputContainer {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkboxContainer {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.buttonLogin {
  display: flex;
  justify-content: left;
  font-weight: bolder;
  grid-column: span 2;
  margin-top: 20px;
}

.register {
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 1280px) {
  .register {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .loginLeft {
    padding: 0;
    margin: 0;
    margin-top: 8rem;
  }
  
  .loginRight {
    align-items: center;
    justify-content: center;
    margin: 0;
  }

}


@media (max-width: 1080px) {

  .loginLogo img {
    max-width: 100%; 
    height: auto;
  }

  .loginRight {
    padding-left: 0; 
    padding: 4rem; 
  }

  .register {
    margin: 0 auto; 
  }
}

@media (max-width: 960px) {
  .loginRight {
    width: 100%;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .register {
    margin-top: 2rem; 
    padding: 1rem 2rem; 
  }
}


@media (max-width: 768px) {
  .login {
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
  }

  .loginLeft {
    width: 100%; 
    height: auto; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }

    .loginRight {
    padding: 0;
    margin: 0;
    clip-path: none;
    height: 100%;
  }

  .loginForm {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    padding: 15px;
    width: 100%; 
    max-width: 100%; 
    align-items: center; 
  }

  .passwordContainer {
    flex-direction: column; 
    gap: 15px;
    width: 100%; 
    align-items: center;
  }

  .checkboxContainer {
    display: flex;
    flex-direction: column; 
    gap: 10px;
  }

  .buttonLogin {
    width: 100%; 
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem; 
  }

  .login p {
    font-size: 1.2rem;
  }

  .loginLogo {
    width: 40%; 
  }

  .login-logo img {
    max-width: 60%; 
  }

  .loginForm {
    padding: 10px; 
  }
}