.register {
  display: flex;
  align-items: center;
  justify-content: center; 
  background: var(--Principal);
  width: 100%;
  min-height: 100vh;
  background-color: var(--Background-Page);
}

.registerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 60%; 
  height: 100vh;
  background-color: var(--Principal);
  clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
  padding: 3rem;
  padding-right: 10rem; 
}

.title {
  font-size: 5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem; 
}

.registerLeft a {
  text-decoration: none;
}

.register p {
  font-size: 3rem;
  color: var(--Black-color);
  font-weight: bold;
  margin-top: 2rem; 
  text-align: center; 
}

.registerLogo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.register-logo img {
  max-width: 60%; 
  height: auto;
}

.registerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%; 
  padding: 2rem; 
}

.registerForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; 
  padding: 20px;
  width: 100%;
  max-width: 800px; 
}

.checkboxContainer {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.passwordContainer {
  grid-column: span 2;
  display: flex;
  gap: 15px;
}

.passwordContainer .input {
  flex: 1; 
}

.buttonRegister {
  display: flex;
  justify-content: center;
  grid-column: span 2;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .registerLeft {
    padding: 2rem; 
    padding-right: 8rem; 
  }
}

@media (max-width: 768px) {
  .register {
    flex-direction: column; 
    align-items: center; 
  }

  .registerLeft {
    width: 100%; 
    height: auto; 
    clip-path: none; 
    padding: 2rem; 
    padding-right: 2rem;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }

  .registerRight {
    width: 100%; 
    padding: 2rem; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }

  .registerForm {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    padding: 15px;
    width: 100%; 
    max-width: 100%; 
    align-items: center; 
  }

  .passwordContainer {
    flex-direction: column; 
    gap: 15px;
    width: 100%; 
    align-items: center;
  }

  .checkboxContainer {
    display: flex;
    flex-direction: column; 
    gap: 10px;
  }

  .buttonRegister {
    width: 100%; 
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem; 
  }

  .register p {
    font-size: 1.2rem;
  }

  .registerLogo {
    width: 40%; 
  }

  .register-logo img {
    max-width: 60%; 
  }

  .registerForm {
    padding: 10px; 
  }
}