.wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #74c410;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  z-index: 1;
}

.wave span {
  content: "";
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #0f0f0f;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -78%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -78%) rotate(360deg);
  }
}

.wave span:nth-child(1) {
  border-radius: 49%;
  background: #0f0f0f;
  animation: animate 50s linear infinite;
}

.wave span:nth-child(2) {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 80s linear infinite;
}

.wave span:nth-child(3) {
  border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 30s linear infinite;
}

.content {
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 8px rgba(255, 223, 49, 0.8),
    -3px -3px 8px rgba(255, 223, 49, 0.8), 2px 2px 5px rgba(0, 0, 0, 0.7),
    -2px -2px 5px rgba(0, 0, 0, 0.7), 2px -2px 5px rgba(0, 0, 0, 0.7),
    -2px 2px 5px rgba(0, 0, 0, 0.7);
}

.content h2 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 0;
}

.content h1 {
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 0;
}


.buttonMid {
  animation: blink 1s infinite, pulse 1.5s infinite ease-in-out;
  display: flex;
  background-color: var(--Coins);
  border-radius: 28px;
  margin-top: 5rem;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 10px 5px rgba(255, 215, 0, 0.8);
    border-radius: 28px;
  }
  50% {
    box-shadow: 0 0 55px 15px rgba(255, 215, 0, 1);
    border-radius: 28px;
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(255, 215, 0, 0.8);
    border-radius: 28px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1024px) {
  .content h1 {
    font-size: 6rem;
  }

  .content h2 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 5rem;
  }

  .content h2 {
    font-size: 3rem;
  }

  .buttonMid {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .content h2 {
    font-size: 4rem;
  }

  .buttonMid {
    margin-top: 8rem;
  }
}


