.cardGameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 25rem;
  background-color: var(--Background-Overlay);
  border-radius: 40px;
  color: white;
  gap: 2rem;
  cursor: pointer;
  transition: transform 0.3s, shadow 0.3s;
}

.cardGameContainer:hover {
  border: 2px solid var(--Principal);
  box-shadow: 0 0 20px var(--Principal);
  transform: scale(1.05);
}

.cardGameImage {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardGameImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 3rem;
  color: white;
  text-align: center;
}

