.carrouselContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.carrousel {
  width: 65%;
  max-width: 130rem;
  border-radius: 4rem;
}

.bannerImg {
  width: 100%;
  display: block;
}
