.carrouselContainer {
  width: 100%;
  margin-top: 40px;
}

.carrousel {
  border-radius: 20px;
}

.bannerImg {
  margin-bottom: -6px;
  width: 100%;
}

@media (max-width: 720px) {
  .carrouselContainer{
    margin-top: 0;

  }

  .carrousel{
      border-radius: 0%;
      height: 20rem;
  }
  .bannerImg{
      height: 20rem;

  }
}
