.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContainer {
  background-color: var(--Background-Overlay);
  border: 2px solid var(--Principal);
  border-radius: 8px;
  width: 650px;
  height: 705px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.headerText {
  font-family: 'Reddit Sans', sans-serif;
  font-weight: bold;
  color: var(--Principal);
  font-size: 3.2rem;
  text-align: center;
  line-height: 1.2;
}

.machineWrapper {
  width: 100%;
  height: 100%;
  transform: scale(0.90);
  transform-origin: top center;
}


.priceText {
  font-family: 'Reddit Sans', sans-serif;
  font-weight: bold;
  color: var(--Principal);
  font-size: 2rem;
  text-align: center;
  paddig-top: 60px;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1000;
}