
.WithdrawConfirmation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.textContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 2rem;
  color: white;
  text-align: left;
}

.euth {
  display: flex;
  align-items: center;
  gap: 4px;
}

.coinsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-start;
}

.coinsInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.coinsPrice {
  color: var(--Coins);
  font-weight: bold;
  font-size: 2rem;
}
