.infoOrderContainer {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  background-color: var(--Background-Page);
}

.infoOrderDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Reddit Sans", sans-serif;
  font-size: 1.2rem;
  color: white;
}

.coinsInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.coinsPrice {
  color: var(--Coins);
  font-weight: bold;
}

.coinsImg {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

.text {
  font-size: 2rem;
  color: white;
}

.coinsInfo p {
  font-size: 2rem;
}

.ethereumIcon {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  object-fit: contain;
}

@media (max-width: 768px) {
  .infoOrderContainer {
    flex-direction: column;
    gap: 4rem;
  }

  .infoOrderDetails {
    align-items: center;
    gap: 2rem;
  }

  .coinsInfo {
    justify-content: center;
  }

  .coinsPrice {
    font-size: 1.5rem;
  }

  .coinsInfo p {
    font-size: 1.5rem;
  }
}
