.modalScroll::-webkit-scrollbar {
  width: 6px;
}
.modalScroll::-webkit-scrollbar-track {
  background: transparent;
}
.modalScroll::-webkit-scrollbar-thumb {
  cursor: grab;
  background-color: var(--Principal);
  border-radius: 8px;
}
