/* CSS del componente Button */

/* Generico */

.button {
  font-family: "Reddit Sans", sans-serif;
  color: var(--Black-color);
  border: none;
  transition: background 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  border-radius: 20px;
  font-size: 2rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: translateY(2px);
}

/* Variantes de tamaños */

button.small {
  width: 10rem;
  height: 4rem;
}

button.short {
  width: 13rem;
  height: 5rem;
}

button.medium {
  width: 20rem;
  height: 5rem;
}

button.md{
  width: 14rem;
  height: 3rem;
}

button.large {
  width: 20rem;
  height: 4rem;
}

button.big {
  width: 25rem;
  height: 5rem;
  font-size: 2.4rem;
}

/* @media (max-width: 45rem) {
  button.large {
    width: 11rem;
    height: 4rem;
  }
} */

/* Variantes de Colores */

button.green {
  background-color: var(--Principal);
}

/* button.green:active {

} */

button.yellow {
  background-color: var(--Coins);
}

/* button.yellow:active {

} */

button.red {
  background-color: var(--Color-Cancel);
}

/* button.red:active {

} */


/* Variantes de Texto */

button.medium {
  font-weight: normal;
}

button.bold {
  font-weight: bold;
}

/* Variantes de colores */

button.green {
  background-color: var(--Principal);
}

button.selected {
  background-color: var(--Principal);
  color: var(--Black-color);
}

button.disabled {
  background-color: var(--Grey-color);
  color: var(--Black-color);
  cursor: not-allowed;
}


button.selected:active {
  background-color: var(--PrincipalDark);
}

button:active {
  transform: translateY(2px);
}

