/* CSS del componente Button */

/* Vhyper Games */

/* Generico */

button {
  font-family: 'UniversCnBold', sans-serif;
  color: white;
  border-radius: 10px;
  border: none;
  transition: background 0.3s ease;  
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

button:active {
  transform: translateY(2px);
}

/* Variantes de tamaños */

button.short {
  width: 10rem; 
  height: 3rem;
  font-size: 1.2rem; 
}

button.medium {
  width: 10rem; 
  height: 5rem;  
  font-size: 1.3rem;
}

button.large {
  width: 16rem; 
  height: 4rem;   
  font-size: 1.3rem;
}

@media (max-width: 45rem) {
  button.large {
    width: 11rem; 
    height: 4rem;   
  }
}

/* Variantes de Colores */

button.morado {
  background: var(--gradient-purple);
  box-shadow: var(--shadow-purple);
}

button.morado:active {
  box-shadow: var(--shadow-purple);
}

button.azul {
  background: var(--gradient-blue);
  box-shadow: var(--shadow-blue);
}

button.azul:active {
  box-shadow: var(--shadow-blue);
}

button.morado-azul {
  background: var(--gradient-purple-blue);
  box-shadow: var(--shadow-gradient-blue-purple);
}

button.azul-morado {
  background: var(--gradient-blue-purple);
  box-shadow: var(--shadow-gradient-blue-purple);
}

button.red {
  background: var(--principal-red);
  box-shadow: var(--principal-red);
}

button.gradient-green {
  background: var(--gradient-green);
  box-shadow: var(--gradient-green);
}

button.morado-azul:active,
button.azul-morado:active {
  box-shadow: var(--shadow-gradient-blue-purple);
}

