.rouletteWheel {
  position: relative;
  width: 380px;
  height: 380px;
  margin: 0 auto;
}

.rouletteImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.ballContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -163px);
}

.ball {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 1px 4px #000;
}
