@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Main Colors */
  --Principal: #74c410;
  --Coins: #ffdf31;
  --Background-Chat: #d4edb5;
  --Background-Overlay: #2e2e2e;
  --Background-Page: #0f0f0f;
  --Color-Edit: #2457c5;
  --Color-Cancel: #ce2e2e;
  --Green-lines: #7ff803;
  --Black-color: #000814;
  --Grey-color: #505050;
  --Light-Grey-color: #a9a9a9;
  --Background-Nav: #1C1C1C;

  /* Chat Colors */
  --Chat-Background: #D4EDB5;

  /* Roulette Colors */
  --Roulette-green: #14532d;
  --Roulette-red: #A91607;
  --Roulette-black: #0E3811;
  --Chip-Orange: #ea580c;
  --Chip-Green: #15803d;
  --Chip-Yellow: #facc15;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
}

body {
  font-family: "Reddit Sans", sans-serif;
}

@layer base {
  body {
    @apply font-reddit;
  }
}

